<main class="d-flex flex-column justify-content-center">
    <div class="container d-flex flex-column justify-content-evenly">
      <h1 class="text-center"><i class="fas fa-chart-bar"></i> About this application <i class="fas fa-chart-bar"></i></h1> 
        <p>Application tries to compare 3 diffrent frontend frameworks performance. Frameworks used in this application: <span class="angular">Angular</span>, <span class="vuejs">Vuejs</span>, <span class="react">React</span>.</p>
        <p>The test is about performing tasks such as: data loading speed, CRUD operations,
        animations, asynchronus operations, forms rendering and validation, http requests and rendering
        data after changes.</p>
        <p>Application is connected with backend application written in Java and Spring stack.
        This module of app is written in Angular 9. </p>
    </div>
</main>