<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex flex-row justify-content-between align-items-center">
    <div class="brand">
      <a class="navbar-brand" href="#"><i class="fab fa-angular"></i>
        Front-End Comparator
        <i class="fas fa-chart-bar"></i>
      </a>
    </div>
    <div class="menu">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex justify-content-between align-items-baseline">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/smload-measure" routerLinkActive="active">Sm load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mdload" routerLinkActive="active">Md load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lgload" routerLinkActive="active">Lg load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crud" routerLinkActive="active">CRUD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/animations" routerLinkActive="active">Animations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/changingdata" routerLinkActive="active">Changing data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item app-change d-flex flex-row">
            <a class="nav-link p-1" href="#"><i class="fab fa-angular"></i></a>
            <a class="nav-link p-1" href="#"><i class="fab fa-react"></i></a>
            <a class="nav-link p-1" href="#"><i class="fab fa-vuejs"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-light d-flex flex-columtn justify-content-center">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <p>Artur Babkiewicz 2022</p>
  </div>
</footer>