<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex flex-row justify-content-between align-items-center">
    <div class="brand">
      <a class="navbar-brand" href="#"><i class="fab fa-angular"></i>
        Front-End Comparator
        <i class="fas fa-chart-bar"></i>
      </a>
    </div>
    <div class="menu">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex justify-content-between align-items-baseline">
          <li class="nav-item active">
            <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sm load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Md load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lg load</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CRUD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Animations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Asynchronus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Changing data</a>
          </li>
          <li class="nav-item app-change d-flex flex-row">
            <a class="nav-link p-1" href="#"><i class="fab fa-angular"></i></a>
            <a class="nav-link p-1" href="#"><i class="fab fa-react"></i></a>
            <a class="nav-link p-1" href="#"><i class="fab fa-vuejs"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="d-flex flex-column justify-content-center">
  <div class="container d-flex flex-column justify-content-evenly">
    <h1 class="text-center">About this application</h1>
      <p>Application tries to compare 3 diffrent frontend frameworks performance. Frameworks used in this application: Angular, Vuejs, React.</p>
      <p>The test is about performing tasks such as: data loading speed, CRUD operations,
      animations, asynchronus operations, forms rendering and validation, http requests and rendering
      data after changes.</p>
      <p>Application is connected with backend application written in Java and Spring stack.
      This module of app is written in Angular 9. </p>
  </div>
</main>
<footer class="bg-light d-flex flex-columtn justify-content-center">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <p>Artur Babkiewicz 2022</p>
  </div>
</footer>