$main-color: #039dff;
$second-color: #ebecf2;
$white: #fff;
$angular: red;
$react: rgb(0,216,255);
$vuejs: rgb(65,184,131);

nav {
    .brand {
        a {
            font-size: 14px;
            text-transform: uppercase;
            transition: color 0.3s;
        }

        a:hover {
            color: $angular;
        }

        i {
            font-size: 14px;
            color: $angular;
        }
    }

    .menu {
        .navbar-toggler {
            .navbar-toggler-icon {
                font-size: 12px;
            }
        }

        .navbar-collapse {
            a {
                font-size: 12px;
                transition: color 0.3s;
            }

            a:hover {
                color: $angular;
            }
            
            .app-change {
                a {
                    font-size: 16px;
                }

                .fa-angular {
                    transition: color 0.3s;
                }
                
                .fa-angular:hover {
                    color: $angular;
                }

                .fa-react {
                    transition: color 0.3s;
                }
                
                .fa-react:hover {
                    color: $react;
                }

                .fa-vuejs {
                    transition: color 0.3s;
                }
                
                .fa-vuejs:hover {
                    color: $vuejs;
                }
            }
        }
    }
}

main {
    height: 90vh;

    .container {
        height: 75vh;    
        background-color: rgba(0,0,0, 0.2);
    }
}

footer {

}