<div class="grid">
    <form class="container" (ngSubmit)="send()" #form="ngForm">
      <div class="row">
        <div class="input-field col s8">
          <input id="title" type="text" [(ngModel)]="model.title" name="title" required/>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="year" type="text" [(ngModel)]="model.year" name="year" required/>
          <label for="year">Year</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="studio" type="text" [(ngModel)]="model.studio" name="studio" required/>
          <label for="studio">Studio</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="description" type="text" [(ngModel)]="model.description" name="description" required/>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="country" type="text" [(ngModel)]="model.country" name="country" required/>
          <label for="country">Country</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="poster" type="text" [(ngModel)]="model.poster" name="poster" required/>
          <label for="poster">Poster</label>
        </div>
      </div>
      <button class="btn-small" type="submit" [disabled]="form.invalid">Send</button>
      <button class="btn-small red" type="reset">Reset</button>
    </form>
</div>