<main class="d-flex flex-column justify-content-center">
  <div class="container ">
    <div class="column">
      <div class="row">
          <h3 class="text-center my-4">Search for Weather:</h3>
          <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                id="weatherLocation"
                aria-describedby="weatherLocation"
                placeholder="Please input a Location"
                formControlName="location"
              />
             </div>
             <div class="text-center"> 
              <button type="submit" class="btn btn-success btn-md">
                Search for the weather</button>
             </div>
           </form> 
      </div>
      <div *ngIf="dataLoaded | async" class="text-center my-4 row">
          <h3 class="text-center">Weather Details:</h3>
          <p class="text-center">
            Feels Temperature: {{weatherData?.current.feelslike}}
          </p>
          <p class="text-center">
            Real Temperature: {{weatherData?.current.temperature}}
          </p>
          <p class="text-center">
            Wind Speed: {{weatherData?.current.wind_speed}}
          </p>
          <p class="text-center">
            Location Searched: {{weatherData?.location.name}}
            {{weatherData?.location.country}}
          </p>
      </div>
    </div>
  </div>
</main>